<template>
  <v-col
    :class="[ 'd-flex flex-column align-start justify-start', classes ]"
  >
    <span v-if="fieldName" class="text-caption grey--text">
      {{ fieldName }}
    </span>
    <slot></slot>
  </v-col>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Cell',

  props: {
    fieldName: {
      type: String,
    },
    classes: {
      type: String,
    },
  },
});
</script>
