<template>
  <v-row>
    <Cell
      v-if="is404Error"
      :fieldName="$vuetify.lang.t('$vuetify.results.city')"
    >
      <span class="text-body amber--text text--darken-2">
        {{ $vuetify.lang.t('$vuetify.errors.cityNotFound') }}
      </span>
    </Cell>

    <v-col v-else align="center">
      <span class="text-body amber--text text--darken-2">
        {{ $vuetify.lang.t('$vuetify.errors.unexpected') }}
      </span>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Cell from './Cell.vue';

export default Vue.extend({
  name: 'ErrorState',

  components: {
    Cell,
  },

  props: {
    errorCode: {
      type: String,
    },
  },

  computed: {
    is404Error(): boolean {
      return this.errorCode === '404';
    },
  },
});
</script>
