<template>
  <v-row>
    <v-col class="d-flex flex-column align-center">
      <v-progress-circular
        indeterminate
        color="primary"
        class="mb-5"
      ></v-progress-circular>
      <span class="text-body-2">
        {{ $vuetify.lang.t('$vuetify.inProgress') }}
      </span>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Loading',
});
</script>
