<template>
  <v-app-bar
    app
    color="primary"
    dark
    elevation="0"
  >
    <v-toolbar-title>{{ $vuetify.lang.t('$vuetify.headerBarTitle') }}</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn-toggle
      :value="lang"
      @change="onLangChange"
      borderless
      color="blue darken-4"
      light
      mandatory
    >
      <v-btn
        v-for="lang in langMap"
        :key="lang.value"
        :value="lang.value"
        small
      >
        <span>{{ lang.label }}</span>
      </v-btn>
    </v-btn-toggle>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'HeaderBar',

  props: {
    lang: {
      type: String,
      required: true,
    },
    langMap: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
  }),

  methods: {
    onLangChange(value: string): void {
      this.$emit('onLangChange', value);
    },
  },
});
</script>
