/* eslint-disable max-len */
<template>
  <v-card
    v-if="results || errorCode || isLoading"
    class="pa-5 align-center justify-center"
  >
    <template v-if="isLoading">
      <Loading />
    </template>

    <template v-else>
      <ErrorState v-if="errorCode" :errorCode="errorCode" />

      <template v-if="!errorCode && results">
        <v-row>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.city')">
            <span class="text-h5">
              {{ results.name }}
            </span>
            <span class="text-body-2">
              {{ results.coord.lat }}, {{ results.coord.lon }}
            </span>
          </Cell>

          <Cell classes="align-center">
            <v-img :src="iconSrc" height="100" contain />
          </Cell>

          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.today')" classes="align-sm-end">
            <span class="text-h5">
              {{ date.toLocaleDateString() }}
            </span>
            <span class="text-body-2">
              {{ dow }}
            </span>
          </Cell>
        </v-row>

        <v-row>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.temperature')">
            <span class="text-h5 light-blue--text accent-4">
              {{ tempText('temp') }}
            </span>
            <span class="text-body-2">
              {{ tempText('feelsLike') }}
            </span>
            <span class="text-body-2">
              {{ tempText('max') }}
            </span>
            <span class="text-body-2">
              {{ tempText('min') }}
            </span>
          </Cell>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.wind')">
            <span class="text-body-2">
              {{ $vuetify.lang.t('$vuetify.results.speed') }}:
              {{ results.wind.speed }}
              {{ $vuetify.lang.t('$vuetify.units.windSpeed') }}
            </span>
            <span class="text-body-2">
              {{ $vuetify.lang.t('$vuetify.results.direction') }}:
              {{ results.wind.deg }}
            </span>
          </Cell>
        </v-row>

        <v-row>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.humidity')">
            <span class="text-body-2">
              {{ results.main.humidity }}%
            </span>
          </Cell>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.pressure')">
            <span class="text-body-2">
              {{ results.main.pressure }}
              {{ $vuetify.lang.t('$vuetify.units.pressure') }}
            </span>
          </Cell>
        </v-row>

        <v-row>
          <Cell :fieldName="$vuetify.lang.t('$vuetify.results.state')">
            <span class="text-body-2">
              {{ results.weather[0].description }}
            </span>
          </Cell>
        </v-row>
      </template>
    </template>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Cell, Loading, ErrorState } from './results';
import { ICON_ENDPOINT } from '../constants';

const tempMap = {
  temp: { prefix: '', value: 'temp' },
  feelsLike: { prefix: 'feelsLike', value: 'feels_like' },
  max: { prefix: 'max', value: 'temp_max' },
  min: { prefix: 'min', value: 'temp_min' },
};

export default Vue.extend({
  name: 'ResultsCard',

  components: {
    Cell,
    Loading,
    ErrorState,
  },

  props: {
    results: {
      type: Object,
    },
    currentLangData: {
      type: Object,
    },
    isLoading: {
      type: Boolean,
    },
    errorCode: {
      type: String,
    },
  },

  data: () => ({
    date: new Date(),
  }),

  computed: {
    iconSrc(): string {
      return `${ICON_ENDPOINT}/${this.results.weather[0].icon}@2x.png`;
    },
    dow(): string {
      return new Intl.DateTimeFormat(this.currentLangData.value, { weekday: 'long' })
        .format(this.date);
    },
  },

  methods: {
    tempText(target: keyof typeof tempMap): string {
      const data = tempMap[target];
      let result = `${this.results.main[data.value]} ${this.currentLangData.units}`;

      if (data.prefix) {
        const prefixAddr = `$vuetify.results.${data.prefix}`;
        result = `${this.$vuetify.lang.t(prefixAddr)}: ${result}`;
      }
      return result;
    },
  },
});
</script>
