<template>
  <v-card>
    <v-container class="pa-5">
      <v-row align="center">
        <v-col cols="12" sm="8">
          <v-combobox
            :items="items"
            :loading="isLoading"
            :search-input.sync="targetCity"
            :label="$vuetify.lang.t('$vuetify.cityInputLabel')"
            :placeholder="$vuetify.lang.t('$vuetify.cityInputPlaceholder')"
            hide-no-data
            clearable
            disable-lookup
            @click:clear="clearData"
          ></v-combobox>
        </v-col>

        <v-col
          cols-xs="12"
          cols-md="4"
          class="d-flex flex-column align-center align-sm-end"
        >
          <v-btn
            :disabled="!targetCity"
            elevation="2"
            large
            color="cyan lighten-1"
            class="white--text"
            @click="runSearch"
          >
            {{ $vuetify.lang.t('$vuetify.btnSearch') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

const CITIES_MAX_AMOUNT = 10;

export default Vue.extend({
  name: 'SelectCard',

  props: {
    isLoading: {
      type: Boolean,
      required: true,
    },
  },

  data() {
    return {
      items: [] as string[],
      targetCity: '',
      results: null,
    };
  },

  created() {
    this.items = this.getCityHistory();

    if (!this.items.length) {
      localStorage.setItem('cities', JSON.stringify([]));
    }
  },

  methods: {
    runSearch() {
      if (this.targetCity) {
        this.updateCityHistory();
        this.getWeatherData();
      }
    },
    getCityHistory(): string[] {
      return JSON.parse(localStorage.getItem('cities') || '[]');
    },
    updateCityHistory() {
      const isExist = this.items.find((item) => item === this.targetCity);

      if (!isExist) {
        if (this.items.length >= CITIES_MAX_AMOUNT) {
          this.items.splice(0, 1);
        }
        this.items.push(this.targetCity);
        localStorage.setItem('cities', JSON.stringify(this.items));
      }
    },
    getWeatherData() {
      this.$emit('onGetWeatherData', this.targetCity);
    },
    clearData() {
      this.$emit('onClearData');
    },
  },
});
</script>
