<template>
  <v-app>
    <HeaderBar
      :lang="lang"
      :langMap="langMap"
      @onLangChange="changeLang"
    />
    <v-main class="bg">
      <v-img
        :style="{ position: 'absolute' }"
        src="./assets/bg.jpg"
        min-height="100%"
      />
      <v-container>
        <v-row justify="center">
          <v-col md="8" xs="12">
            <SelectCard
              :isLoading="isLoading"
              @onGetWeatherData="getWeatherData"
              @onClearData="clearData"
            />
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col md="8" xs="12">
            <ResultsCard
              :currentLangData="currentLangData"
              :results="results"
              :isLoading="isLoading"
              :errorCode="errorCode"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';

import HeaderBar from './components/HeaderBar.vue';
import SelectCard from './components/SelectCard.vue';
import ResultsCard from './components/ResultsCard.vue';

import { WeatherResponse, LangDataInterface } from './interfaces';
import { ENDPOINT, LANG } from './constants';

export default Vue.extend({
  name: 'App',

  components: {
    HeaderBar,
    SelectCard,
    ResultsCard,
  },

  data: () => ({
    lang: LANG.RU,
    langMap: [{
      value: LANG.RU,
      label: LANG.RU.toUpperCase(),
      system: 'metric',
      units: '°C',
    }, {
      value: LANG.EN,
      label: LANG.EN.toUpperCase(),
      system: 'standard',
      units: '°F',
    }],
    results: null as WeatherResponse,
    errorCode: null,
    isLoading: false,
    targetCity: '',
  }),

  created() {
    this.$vuetify.lang.current = this.lang;
  },

  computed: {
    currentLangData(): LangDataInterface | undefined {
      return this.langMap.find((lang) => lang.value === this.lang);
    },
  },

  methods: {
    async changeLang(value: string): Promise<void> {
      this.lang = value;
      this.$vuetify.lang.current = value;

      // refetch current city with different units
      if (this.targetCity) {
        await this.getWeatherData(this.targetCity);
      }
    },
    async getWeatherData(targetCity: string): Promise<void> {
      this.clearData();
      this.targetCity = targetCity;
      this.isLoading = true;

      await axios.get<WeatherResponse>(ENDPOINT, {
        params: {
          q: this.targetCity,
          units: this.currentLangData.system,
          lang: this.currentLangData.value,
          appid: '82220509d330ccc55f0d5d907c8b14b4',
        },
      })
        .then((response: { data: WeatherResponse }) => {
          this.results = response.data;
          this.isLoading = false;
        })
        .catch((e) => {
          this.errorCode = e.response?.data?.cod || 'unexpected';
          this.isLoading = false;
        });
    },
    clearData(): void {
      this.results = null;
      this.errorCode = null;
      this.isLoading = false;
    },
  },
});
</script>
